In [409]:
import pandas as pd

data_stats = pd.read_csv("nba-players-stats/Seasons_Stats.csv")
display(data_stats.head())
data_salary = pd.read_csv("nba-players-stats/NBA_season1718_salary.csv")
display(data_salary.head())
data_players = pd.read_csv("nba-players-stats/Players.csv")
display(data_players.head())

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,3PAr,FTr,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,blanl,OWS,DWS,WS,WS/48,blank2,OBPM,DBPM,BPM,VORP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,0.368,NaN,0.467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.1,3.6,3.5,NaN,NaN,NaN,NaN,NaN,NaN,144.0,516.0,0.279,NaN,NaN,NaN,144.0,516.0,0.279,0.279,170.0,241.0,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,0.435,NaN,0.387,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.6,0.6,2.2,NaN,NaN,NaN,NaN,NaN,NaN,102.0,274.0,0.372,NaN,NaN,NaN,102.0,274.0,0.372,0.372,75.0,106.0,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,0.394,NaN,0.259,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.9,2.8,3.6,NaN,NaN,NaN,NaN,NaN,NaN,174.0,499.0,0.349,NaN,NaN,NaN,174.0,499.0,0.349,0.349,90.0,129.0,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,0.312,NaN,0.395,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.5,-0.1,-0.6,NaN,NaN,NaN,NaN,NaN,NaN,22.0,86.0,0.256,NaN,NaN,NaN,22.0,86.0,0.256,0.256,19.0,34.0,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,0.308,NaN,0.378,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.5,-0.1,-0.6,NaN,NaN,NaN,NaN,NaN,NaN,21.0,82.0,0.256,NaN,NaN,NaN,21.0,82.0,0.256,0.256,17.0,31.0,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0

   Unnamed: 0          Player   Tm  seson17_18
0           1   Stephen Curry  GSW  34682550.0
1           2    LeBron James  CLE  33285709.0
2           3    Paul Millsap  DEN  31269231.0
3           4  Gordon Hayward  BOS  29727900.0
4           5   Blake Griffin  DET  29512900.0

,Unnamed: 0,Player,height,weight,collage,born,birth_city,birth_state
0,0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN
1,1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana
2,2,Leo Barnhorst,193.0,86.0,University of Notre Dame,1924.0,NaN,NaN
3,3,Ed Bartels,196.0,88.0,North Carolina State University,1925.0,NaN,NaN
4,4,Ralph Beard,178.0,79.0,University of Kentucky,1927.0,Hardinsburg,Kentucky

In [410]:
data = pd.merge(data_stats, data_salary, how = "outer", on = 'Player', validate = "m:m")
data = pd.merge(data, data_players, how = "outer", on = 'Player', validate = "m:m")
data = data[(data['Year']== 2017)]
data.head()

,Unnamed: 0_x,Year,Player,Pos,Age,Tm_x,G,GS,MP,PER,TS%,3PAr,FTr,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,blanl,OWS,DWS,WS,WS/48,blank2,OBPM,DBPM,BPM,VORP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Unnamed: 0_y,Tm_y,seson17_18,Unnamed: 0,height,weight,collage,born,birth_city,birth_state
5899,24235.0,2017.0,Mike Dunleavy,SF,36.0,TOT,53.0,2.0,841.0,10.1,0.573,0.609,0.205,2.4,12.4,7.5,8.6,0.9,0.7,10.5,14.0,NaN,0.8,0.7,1.5,0.086,NaN,-1.0,-1.2,-2.2,0.0,93.0,220.0,0.423,53.0,134.0,0.396,40.0,86.0,0.465,0.543,36.0,45.0,0.800,18.0,97.0,115.0,50.0,15.0,7.0,28.0,67.0,275.0,352.0,ATL,1662500.0,1146.0,190.0,81.0,University of South Carolina,1954.0,Brooklyn,New York
5900,24236.0,2017.0,Mike Dunleavy,SF,36.0,CLE,23.0,2.0,366.0,7.6,0.539,0.633,0.211,1.6,12.2,7.1,7.5,0.8,0.4,12.5,13.7,NaN,0.1,0.2,0.3,0.041,NaN,-2.0,-1.7,-3.7,-0.2,36.0,90.0,0.400,20.0,57.0,0.351,16.0,33.0,0.485,0.511,14.0,19.0,0.737,5.0,42.0,47.0,20.0,6.0,2.0,14.0,32.0,106.0,352.0,ATL,1662500.0,1146.0,190.0,81.0,University of South Carolina,1954.0,Brooklyn,New York
5901,24237.0,2017.0,Mike Dunleavy,SF,36.0,ATL,30.0,0.0,475.0,11.9,0.597,0.592,0.200,3.1,12.5,7.9,9.5,0.9,0.9,9.0,14.3,NaN,0.7,0.5,1.2,0.120,NaN,-0.2,-0.8,-1.0,0.1,57.0,130.0,0.438,33.0,77.0,0.429,24.0,53.0,0.453,0.565,22.0,26.0,0.846,13.0,55.0,68.0,30.0,9.0,5.0,14.0,35.0,169.0,352.0,ATL,1662500.0,1146.0,190.0,81.0,University of South Carolina,1954.0,Brooklyn,New York
6186,24430.0,2017.0,John Lucas,PG,34.0,MIN,5.0,0.0,11.0,9.1,0.250,0.250,0.000,0.0,0.0,0.0,12.5,9.2,0.0,0.0,16.1,NaN,0.0,0.0,0.0,-0.033,NaN,-6.0,0.4,-5.6,0.0,1.0,4.0,0.250,0.0,1.0,0.000,1.0,3.0,0.333,0.250,0.0,0.0,NaN,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,2.0,NaN,NaN,NaN,1183.0,190.0,79.0,University of Maryland,1953.0,Durham,North Carolina
7440,24322.0,2017.0,Gerald Henderson,SG,29.0,PHI,72.0,41.0,1667.0,10.8,0.529,0.313,0.298,2.2,10.0,6.1,10.5,1.2,0.7,9.0,17.9,NaN,1.0,1.0,2.1,0.059,NaN,-1.8,-1.2,-3.1,-0.5,234.0,553.0,0.423,61.0,173.0,0.353,173.0,380.0,0.455,0.478,133.0,165.0,0.806,34.0,151.0,185.0,112.0,41.0,15.0,62.0,129.0,662.0,453.0,PHI,1000000.0,1359.0,188.0,79.0,Virginia Commonwealth University,1956.0,Richmond,Virginia

In [411]:
before = len(data)
data= data.drop_duplicates(subset= 'Unnamed: 0_x')
after = len(data)
print('Number of duplicate records dropped: ', str(before - after))

Number of duplicate records dropped:  46

In [412]:
#Eliminamos las columnas que no contienen valores y la columna de Tm que está duplicada
data = data.drop(['Unnamed: 0_y','Unnamed: 0_x','Unnamed: 0','blanl','blank2','Tm_y','born'], axis=1)
data = data.rename(index=str, columns={"seson17_18": "Salary", "Tm_x": "Team", "height": "Height", "weight": "Weight","collage": "Collage","birth_city": "Birth_City","birth_state": "Birth_State",})
data.columns.values

array(['Year', 'Player', 'Pos', 'Age', 'Team', 'G', 'GS', 'MP', 'PER',
       'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%',
       'BLK%', 'TOV%', 'USG%', 'OWS', 'DWS', 'WS', 'WS/48', 'OBPM',
       'DBPM', 'BPM', 'VORP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%',
       '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB',
       'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Salary', 'Height',
       'Weight', 'Collage', 'Birth_City', 'Birth_State'], dtype=object)

In [413]:
null_cols = data.isnull().sum()
null_cols[null_cols > 0]

TS%              2
3PAr             2
FTr              2
TOV%             2
FG%              2
3P%             46
2P%              5
eFG%             2
FT%             24
Salary          89
Collage        133
Birth_City      34
Birth_State     36
dtype: int64

In [414]:
null_displ = data[(data['TS%'].isnull()==True)]
null_displ = data[(data['3PAr'].isnull()==True)]
null_displ = data[(data['FTr'].isnull()==True)]
null_displ = data[(data['TOV%'].isnull()==True)]
null_displ = data[(data['FG%'].isnull()==True)]
null_displ = data[(data['eFG%'].isnull()==True)]
null_displ = data[(data['2P%'].isnull()==True)]
null_displ = data[(data['3P%'].isnull()==True)]
null_displ = data[(data['FT%'].isnull()==True)]
#pd.set_option('display.max_columns', 56)

In [415]:
#Después de comprobar a que se deben los nulos en cada columna, asignamos 0 a estos nulos, ya que se deben a que son estadisticas realizadas con algún valor 0
data[['TS%','3PAr','FTr','TOV%','FG%','eFG%','2P%','3P%','FT%']] = data[['TS%','3PAr','FTr','TOV%','FG%','eFG%','2P%','3P%','FT%']].fillna(0.0)
data[['Collage','Birth_City','Birth_State']] = data[['Collage','Birth_City','Birth_State']].fillna("Unknown")

In [416]:
def addsalary(players, data = data, column1 = "Player", column2 = "Salary"):
    for player in players:
        data.loc[(data[column1] == player), column2] = players[player]
    return data

#Datos tomados de: https://www.spotrac.com/nba/
players = {"Metta World": 1551659.0, "Boris Diaw": 7000000.0, "James Jones": 1551659.0, "Kris Humphries": 2328652.0, "Sasha Vujacic": 1410598.0, "Alan Anderson": 1315448.0, "Brandon Bass": 1551659.0, "David Lee": 1578813.0, "Randy Foye":2500000.0, "Sergio Rodriguez":8000000.0, "Luis Scola":5000000.0, "Rodney Stuckey": 7000000.0, "Roy Hibbert": 2941176.0, "Anthony Morrow": 2116955.0, "Terrence Jones": 247285.0, "Hollis Thompson": 1015696.0, "Luc Mbah": 4320500.0, "Toney Douglas": 633000.0, "Ty Lawson":1315448.0, "Kevin Seraphin":1840500.0, "Lavoy Allen": 4000000.0, "Donatas Motiejunas": 618212.0, "Brian Roberts": 1050961.0, "Thomas Robinson": 1757429.0, "Anthony Bennett": 1577230.0, "James Michael": 760000.0, "Damjan Rudez": 1524305.0, "C.J. Wilcox": 1209600.0, "James Young": 1621415.0, "Darrun Hilliard": 874636.0, "Marcelo Huertas": 1533800.0, "Jordan McRae": 874636.0, "Semaj Christon":832994.0, "Sheldon McClellan": 543471.0, "Maurice Ndour": 724360.0}

addsalary(players)
null_displ = data[(data['Salary'].isnull()==True)]
G = null_displ['G']
null_displ[G > 20]
#Eliminamos los jugadores que han jugado menos de 20 partidos y su salario es nulo (46 jugadores)
data = data.dropna(subset=['Salary'], axis=0)

In [417]:
null_cols = data.isnull().sum()
null_cols[null_cols > 0]

Series([], dtype: int64)

In [418]:
data.columns.values
column_order = ['Year', 'Player', 'Age', 'Height',
       'Weight','Birth_State', 'Birth_City', 'Collage', 'Team', 'Pos', 'Salary', 'G', 'GS', 'PTS', 'MP', 'PER',
       'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%',
       'BLK%', 'TOV%', 'USG%', 'OWS', 'DWS', 'WS', 'WS/48', 'OBPM',
       'DBPM', 'BPM', 'VORP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%',
       '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB',
       'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF']
data = data[column_order]
data.head()

,Year,Player,Age,Height,Weight,Birth_State,Birth_City,Collage,Team,Pos,Salary,G,GS,PTS,MP,PER,TS%,3PAr,FTr,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF
5899,2017.0,Mike Dunleavy,36.0,190.0,81.0,New York,Brooklyn,University of South Carolina,TOT,SF,1662500.0,53.0,2.0,275.0,841.0,10.1,0.573,0.609,0.205,2.4,12.4,7.5,8.6,0.9,0.7,10.5,14.0,0.8,0.7,1.5,0.086,-1.0,-1.2,-2.2,0.0,93.0,220.0,0.423,53.0,134.0,0.396,40.0,86.0,0.465,0.543,36.0,45.0,0.800,18.0,97.0,115.0,50.0,15.0,7.0,28.0,67.0
5900,2017.0,Mike Dunleavy,36.0,190.0,81.0,New York,Brooklyn,University of South Carolina,CLE,SF,1662500.0,23.0,2.0,106.0,366.0,7.6,0.539,0.633,0.211,1.6,12.2,7.1,7.5,0.8,0.4,12.5,13.7,0.1,0.2,0.3,0.041,-2.0,-1.7,-3.7,-0.2,36.0,90.0,0.400,20.0,57.0,0.351,16.0,33.0,0.485,0.511,14.0,19.0,0.737,5.0,42.0,47.0,20.0,6.0,2.0,14.0,32.0
5901,2017.0,Mike Dunleavy,36.0,190.0,81.0,New York,Brooklyn,University of South Carolina,ATL,SF,1662500.0,30.0,0.0,169.0,475.0,11.9,0.597,0.592,0.200,3.1,12.5,7.9,9.5,0.9,0.9,9.0,14.3,0.7,0.5,1.2,0.120,-0.2,-0.8,-1.0,0.1,57.0,130.0,0.438,33.0,77.0,0.429,24.0,53.0,0.453,0.565,22.0,26.0,0.846,13.0,55.0,68.0,30.0,9.0,5.0,14.0,35.0
7440,2017.0,Gerald Henderson,29.0,188.0,79.0,Virginia,Richmond,Virginia Commonwealth University,PHI,SG,1000000.0,72.0,41.0,662.0,1667.0,10.8,0.529,0.313,0.298,2.2,10.0,6.1,10.5,1.2,0.7,9.0,17.9,1.0,1.0,2.1,0.059,-1.8,-1.2,-3.1,-0.5,234.0,553.0,0.423,61.0,173.0,0.353,173.0,380.0,0.455,0.478,133.0,165.0,0.806,34.0,151.0,185.0,112.0,41.0,15.0,62.0,129.0
8344,2017.0,Larry Nance,24.0,208.0,92.0,South Carolina,Anderson,Clemson University,LAL,PF,1471382.0,63.0,7.0,449.0,1442.0,15.8,0.567,0.100,0.222,8.8,19.6,14.0,9.7,2.8,2.3,12.4,13.4,2.1,1.5,3.5,0.118,-0.3,2.3,2.0,1.5,190.0,361.0,0.526,10.0,36.0,0.278,180.0,325.0,0.554,0.540,59.0,80.0,0.738,120.0,249.0,369.0,96.0,82.0,40.0,56.0,149.0

In [419]:
data.to_csv('players_stats_salary.csv', index=False)